<!DOCTYPE html>
<html>
<head>
	<title>Plantilla con enlaces</title>
</head>
<body>
	<h1>Bienvenido a mi sitio web</h1>
	<p>Por favor, seleccione una página:</p>
	<ul>
		<li><a href="{{ url_for('numeroIPsInsertar') }}">Top IPs</a></li>
		<li><a href="{{ url_for('numeroDispositivoInsertar') }}">Top Dispositivos</a></li>
		<li><a href="{{ url_for('numeroPeligrosoInsertar') }}">Top Peligrosos</a></li>
		<li><a href="{{ url_for('ultimas_vulnerabilidades') }}">Ultimas vulnerabilidades</a></li>
		<li><a href="{{ url_for('cmi') }}">Cuadro de mandos CMI</a></li>
		<li><a href="{{ url_for('login') }}">Cerrar sesion</a></li>
	</ul>
</body>
</html>